<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
       <h1> From a HTML Help file </h1>
        <x1> {{ title }} </x1>
        <p></p>
        <h3> Created by: {{ name }}   </h3>
        <p></p>
    </div>
   
   
    {{>footer}}


</body>

</html>