<h1> Static Headers.hbs file page</h1>
<h2> This hbs file in header page</h2>

<header>
    <h3>{{title}} : {{name}}</h3>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>