<h1> Weather Application</h1>
<h2> Application is Create in Node JS</h2>

<header>
    <h3>{{title}} : {{name}}</h3>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>